html,
body {
	min-width: 1122px;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/back-image.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #d9d7d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #897460;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #663d15;
}

.container {
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 16px;

	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}

.main-header {
	margin-bottom: 225px;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 153px;
	top: 130px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	min-height: 70px;

	background-color: #000000;
}

.inside {
	margin-bottom: 30px;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;

	list-style: none;
}

.main-header-logo {
	position: absolute;
}

.site-navigation {
	width: 620px;
	padding: 0;
	margin: 0;
	display: flex;

	list-style: none;
}

.user-navigation {
	display: flex;
	max-width: 140px;
	padding: 0;
	margin: 0;

	list-style:none;
	text-align: right;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 27px;
	left: 24px;

	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;

	width: 16px;
	height: 18px;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.site-navigation a,
.user-navigation a,
.current-page {
	color: #ffffff;
	display: block;
	padding: 25px 20px;

	vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.current-page{
	border-bottom: 5px solid #ffffff;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	margin-right: 20px;
	margin-left: 20px;
}

.inner-page {
	color:#000000;

	background-color: #f9f6f3;
	background-image: url("../img/background.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.advantages-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages-item {
	width: 300px;
	margin-bottom: 83px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;

	position: relative;
}

.advantages-item::before {
	content: "";
	background-image: url("../img/rhombus.png");
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50px;
}

.advantages-item h3 {
	font-size: 30px;
	line-height: 42px;

	padding: 0;
	margin: 0;

	margin-bottom: 60px;
}

.advantages-item p {
	padding: 0;
	margin: 0;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;

	color: #000000;

	background-color: #f8f5f2;
	background-image:
		url("../img/line.png"),
		url("../img/background.jpg");
	background-position: center, 0 0;
	background-repeat:no-repeat, repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 360px;
}

.news h2{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.news p {
	padding: 0;
	margin: 0;
}

.news-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-item time {
	text-transform: none;
	display: block;
	margin-bottom: 23px;
}

.gallery {
	width: 300px;
}

.gallery-container {
	position: relative;
	height: 260px;
}

.gallery h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.gallery-content {
	height: 164px;
	background-color: #cccccc;
	border: 7px solid #ffffff;
	margin: 0;
	padding: 0;
	margin-bottom: 38px;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-button {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-button-back {
	left: 0;
}

.gallery-button-next {
	right: 0;
}

.contacts {
	width: 380px;
}

.contacts h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 18px;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.contacts h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.appointment {
	width: 300px;
}

.appointment h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	padding-right: 15px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item label {
	display: block;
	margin-bottom: 9px;
	margin-left: 15px;
}

.appointment-item input {
	box-sizing: border-box;
	width: 140px;
	padding: 8px 15px 7px 15px;

	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:hover,
.appointment-item input:focus,
.appointment-item input:active {
	border-color: #663d15;
}

.appointment .button {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-right: 0;
}

.main-footer {
	padding: 60px 0;
	margin-top: 65px;
	color: #ffffff;

	background-color: #212121;
	background-image: url("../img/footer-background.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;

	text-align: center;
}
.footer-social b{
	display: block;
	margin-bottom: 15px;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
	list-style: none;
	margin: 0 0;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;

	background-color: #000000;
}

.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #000000;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	text-align: center;
}

.footer-copyright b{
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button {
	display:block;
	margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

 background-color: #ffffff;
}

.modal {
	position: fixed;
	color: #000000;

	background-color: #f8f3f0;
	background-image: url("../img/background.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	display: none;
}

@keyframes bounce {
	0% { transform: translateY(-2000px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

.modal-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.6s;
}

@keyframes shake {
	0%, 100% { transform: translateX(2000px); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.modal-login {
	top: 120px;
	left: 50%;

	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
}

.modal-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;

	background-color: #d0d0d0;
}

.modal-close:before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
	padding: 0;
	margin: 0;
}

.modal-description {
	margin: 0;
	margin-bottom: 10px;
}

.login-form p {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	box-sizing: border-box;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	padding: 10px 15px;
	margin:0;
	width: 300px;
	padding-right: 40px;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.user-login-icon {
	position: relative;
}

.user-login-icon::after {
	content: "";

	position: absolute;
	top: 15px;
	left: 270px;

	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 18px;
	height: 18px;
}

.user-password-icon {
	position: relative;
}

.user-password-icon::after {
	content: "";

	position: absolute;
	top: 15px;
	left: 270px;

	background-image: url("../img/lock.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 18px;
	height: 18px;
}

.login-form input:hover,
.login-form input:focus,
.login-form input:active{
	border-color: #663d15;
}

.login-checkbox:focus,
.login-checkbox:hover {
	color: #663d15;
}

.login-checkbox {
  display: block;
  position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
	left: 0;
  height: 17px;
  width: 17px;
  background-color: #f9f6f3;
	border: 2px solid #000000;
	color: #000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox:hover input ~ .checkbox-indicator {
	color: #000000;
  background-color: #f9f6f3;
}

.login-checkbox input:checked ~ .checkbox-indicator {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;

	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	background-position: 2px 2px;

	width: 16px;
	height: 16px;
}

.login-checkbox input:checked ~ .checkbox-indicator:after {
  display: block;
}

.remember-wrapper {
	display: flex;
	margin: 0;
	padding: 0;
}

.restore {
	margin: 0;
	padding: 0;
	margin-left: 79px;
	color: #000000;
	text-decoration: underline;
}

.restore:focus,
.restore:hover {
	text-decoration: none;
}

.login-button .button {
	display: block;
	margin: 0;
	padding: 9px 133px 9px 133px;
}

.modal-map {
	top: 50%;
	left: 50%;

	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;

	border: 7px solid white;
}

.modal-map p{
	margin: 0;
}

iframe {
	position: absolute;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 24px;
	color: #000000;

	list-style:none;
}

.breadcrumbs a {
	color: #000000;
	margin-right: 45px;
}

.breadcrumbs li {
	position: relative;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	background-color: black;
	transform: rotate(45deg);
	width: 7px;
	height: 7px;
	top: 9px;
  right: 20px;
}

.breadcrumbs-current::after {
	opacity: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
	color: #663d15;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.product-info-wrapper {
	display: flex;
}

.product-photos img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0;
	padding: 0;
	margin-right: 17px;
}

.product-text {
	width: 380px;
	margin-top: 30px;
}

.product-wrapper {
	display: flex;
	justify-content: space-between;
}

.product-info {
	margin-left: 80px;
	margin-top: 45px;
}

.product-availability {
	margin: 0;
	padding: 0;
}

.product-acticle {
	text-align: right;
	color: #aeaeae;

	margin: 0;
	padding: 0;
}

.price {
	padding: 0;
	margin: 0;
	padding: 10px 36px 10px 36px;

	display: block;

}

.item-price {
	display: flex;
	margin: 38px 0 64px 0;
}

.price, .catalog-item-price b {
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5
}

.item-title {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.product-info ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	padding-left: 20px;
	position: relative;
}

.product-info li::before {
	content: "";
	position: absolute;
	background-color: black;
	transform: rotate(45deg);
	width: 7px;
	height: 7px;
	left: 2px;
	margin-top: 8px;
}

.product-list-title {
	font-size: 24px;
	line-height: 30px;
}

.product-list-wrapper {
	display: flex;
}

.product-list {
	padding-top: 40px;
	height: 230px;
	width: 250px;
}

.product-list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.product-list li {
	position: relative;
	padding-left: 20px;
}

.product-list li::before {
	content: "";
	position: absolute;
	background-color: black;
	transform: rotate(45deg);
	width: 7px;
	height: 7px;
	left: 2px;
	margin-top: 8px;
}

.page-heading {
	display: flex;
	align-items: center;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	margin-top: 55px;
}

.page-heading::before,
.page-heading::after {
	content: "";

	flex-grow: 1;
	flex-shrink: 0;

	background-color: #000000;
	width: 50px;
	height: 2px;
}

.page-heading::before {
	margin-right: 25px;
}

.page-heading::after {
	margin-left: 25px;
}

.price-list-title {
	font-size: 24px;
	line-height: 30px;
	width: 188px;
	height: 57px;
	margin:0;
	padding: 0;
	margin: 20px 0 30px 0px;
}

.price-list {
	padding-top: 40px;
	margin-left: 230px;
}

.product-list li {
	padding-bottom: 15px;
}

.prices-table {
	height: 124px;
	width: 460px;
}

.prices-table td {
	width: 50%;
}

table {
  border-collapse: collapse;
}

table, tr, td {
  border: 2px solid black;
}

.price-list td:nth-child(1) {
	padding-left: 19px;
	margin: 0;
}

.price-list td:last-child {
	text-align: center;
}

.philosophy-heading {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
}

.philosophy-wrapper {
	display: flex;
}

.philosophy-part-one {
	margin-top: 67px;
}

.philosophy-part-one p {
	padding-right: 55px;

}

.philosophy-part-two {
	margin-top: 130px;
}

.philosophy-part-two p {
	padding-left: 50px;
  padding-right: 80px;
	margin: 0;
	margin-top: -2px;
}

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.filter fieldset {
	border: none;
	padding: 0;
}

.manufacturer-filter {
	margin-bottom: 29px;
}

.filter-option {
	padding-bottom: 8px;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 25px;
}

.item-filter {
	width: 182px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
	padding: 0;
	margin: 0;
}

.filter-container {
  display: block;
  position: relative;
	padding-left: 45px;
	margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
	left: 0;
  height: 16px;
  width: 16px;
  background-color: #f9f6f3;
	border: 2px solid #000000;
	color: #000;
}

.filter-container:hover input ~ .checkmark {
	color: #000000;
  background-color: #f9f6f3;
}

.filter-container input:checked ~ .checkmark {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;

	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	background-position: 2px 2px;

	width: 16px;
	height: 16px;
}

.filter-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-mark {
  position: absolute;
  top: 0;
	left: 0;
  height: 16px;
  width: 16px;
  background-color: #f9f6f3;
	border: 2px solid #000000;
	border-radius: 50%;
	color: #000;
}

.filter-container:hover input ~ .radio-mark {
	color: #000000;
  background-color: #f9f6f3;
}

.filter-container input:checked ~ .radio-mark {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;

	background-image: url("../img/radio-button.svg");
	background-repeat: no-repeat;
	background-position: 4px 4px;

	width: 16px;
	height: 16px;
}

.filter-container input:checked ~ .radio-mark:after {
  display: block;
}

.filter-option:hover label,
.filter-option:focus label {
	color: #663d15;
}

.filter-option:disabled label {
	color:#000000;

	opacity: 0.5;
}

.filter-button {
	padding: 10px 30px 10px 30px;
	margin: 0;
	margin-top: 30px;
}

.catalog {
	width: 700px;
}

.catalog a:hover,
.catalog a:focus {
	color: #663d15;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;

	list-style:none;
}

.catalog-item {
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 220px;
	height: 286px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 5px 15px 5px 15px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	margin-left: 17px;
	margin-top: 8px;
}

.catalog-item-price b {
	display: block;
	margin: 0;
	padding: 12px;
	padding-left: 35px;
	padding-right: 35px;
}

.catalog-item-price .button {
	text-align: center;
	color: #ffffff;
	padding-left: 18px;
	padding-right: 18px;
}

.pagination-item a{
	color: #ffffff;
	background-color: #000000;
	padding: 11px 17px 11px 17px;
}

.pagination-list{
	padding: 0;
	margin: 35px 0 40px 240px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 193px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
	padding: 11px 17px 11px 17px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;

	background-color: #ffffff;
}

.inner-page .main-footer {
	margin-top: 45px;
}
